body {
	display: block;
	width: 100%;
	height: 100%;
}

#mainContWrap {
	@include box-sizing(border-box);

	display: block;
	position: relative;
	width: 1024px;
	min-height: 100vh;
	margin: 0 auto;
	padding: mgn(1);
	background-color: $color12;

	// ナビゲーションエリア
	nav.globalNav {
		@include box-sizing(boder-box);

		position: absolute;
		top: 24px;
		right: -24px;
		text-align: right;

		.navInner {
			@include setElem(after, "");

			top: 0;
			z-index: 1;
			padding: mgn(0);
			list-style-type: none;

			li {
				line-height: 1.6;
				letter-spacing: 3px;

				a {
					@include fz(26);

					color: $color01;
					font-family: 'Merriweather', serif;
					font-weight: 700;
				}
			}

			&:after {
				top: 0;
				right: 0;
				z-index: -1;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 280px 380px 0;
				border-color: transparent $color07 transparent transparent;
			}
		}
	}

	/* メイン要素 */
	main {
		position: relative;
		width: 100%;
		height: calc(100vh - 48px);
		margin: 0 auto;
		overflow: scroll;
		overflow-x: hidden;
	}

	.welcomeBlock {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%);

		.welcomeTxt {
			text-align: center;
		}
	}

	/* 見出し */
	main h1:first-child {
		margin-top: 0!important;
	}

	p {
		margin-bottom: mgn(-1);
	}

	.hdType01 {
		@include fz(28);

		display: inline-block;
		position: relative;
		top:0;
		line-height: 1.2;
		padding: 0.2em 1em;
		margin: mgn(1) 0;
		font-family: $SawarabiFont;

		&:before, &:after {
			display: inline-block;
			position: absolute;
			top: 0;
			content:"";
			width: 8px;
			height: 100%;
		}
		&:before {
			border-left: solid 1px black;
			border-top: solid 1px black;
			border-bottom: solid 1px black;
			left: 0;
		}
		&:after {
		  content:"";
		  border-top: solid 1px black;
		  border-right: solid 1px black;
		  border-bottom: solid 1px black;
		  right: 0;
		}

		&:first-letter {
			font-size: 2em;
			color: $color07;
			letter-spacing: 0.05em;
		}
	}

	.hdType02 {
		@include setElem(after, "");
		@include fz(26);

		display: inline-block;
		border-bottom: solid 3px $color08;
		margin: mgn(1) 0 mgn(0);
		padding-right: 200px;
		font-family: $SawarabiFont;

		&:after {
			border-bottom: solid 3px $color07;
			bottom: -3px;
			width: 20%;
		}
	}

	.hdType03 {
		@include setElem(after, "");
		@include fz(20);

		display: inline-block;
		background: $color09;
		padding: mgn(-1) mgn(0);
		margin: mgn(1) 0 mgn(1);
		font-family: $SawarabiFont;

		&:after {
			top: 100%;
			left: 30px;
			border: 15px solid transparent;
			border-top: 15px solid $color09;
			width: 0;
			height: 0;
		}
	}

	/* コピーエリア */
	.targetWrap {
		position: relative;
		margin-left: mgn(0);
		margin-top: mgn(-1);

		.textBox {
			width: 90%;
			height: 200px;
			padding: mgn(1);
			margin: 16px 0;
			background: rgba(255,255,255,0.8);
			overflow-x: hidden;
			border: none;
			color: #333333;
		}

		.copyIcon {
			@include fz(24);

			position: absolute;
			display: block;
            top: 0;
            left: -16px;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            box-sizing: border-box;
            background: rgba($color02,0.6);
            color: $color01;
            text-align: center;

		}

		&:hover {
			.textBox {
				cursor: pointer;
				opacity: 0.6;
				transition: all 0.3s ease-out;
			}
		}
	}

	/* clipbord関連 */

	.notification {
	  position: fixed;
	  left: 0;
	  right: 0;
	  bottom: 20%;
	  margin: 0 auto;
	  text-align: center;
	  opacity: 0;
	  visibility: hidden;
	  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s ease 0.4s;
	}
	.notification p {
	  display: inline-block;
	  padding: 4px 8px;
	  color: #fff;
	  background: rgba(153, 153, 153, 0.5);
	  border-radius: 4px;
	}
	.notification.active {
	  opacity: 1;
	  visibility: visible;
	  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s;
	}
}