html {
  font-size: 62.5%;
}
body{
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, sans-serif;
  font-size: 1.6em;
}
*{
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
a{
  color: $deep-blue;
  text-decoration: none;
}