//colors
$white: #ffffff;
$gray: #cccccc;

$orange: #f5a211;
$orange-grad-01: #f4950f;
$orange-grad-02: #f28b0d;

$green: #accc12;
$deep-green: #74ba35;


$white-blue: #f2f5f7;
$middle-blue: #92c5de;
$deep-blue: #09335b;
$blue-grad-01: #357daa;
$blue-grad-02: #2b6596;

$middle-black: #303134;
$black: #000000;
$black-02: #01070c;


// voice
$voice-middle-blue: #e4f0f7;

// scene
$scene-body: #f7fafd;
$scene-grad-01: #f5f8f9;
$scene-grad-02: #eff2f5;
